{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block container %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<div class="col-md-12 col-md-offset-1">
    <h3>Gravity</h3>
    <form class="form-box" method="POST">
      <div class="form-group">
        {{ render_field(form.lat, class='form-control',
        placeholder='Latitud') }}
      </div>
      <button type="submit" class="btn btn-primary" name="button">
        Compute
      </button>
    </form>
</div>
<br>
<div>
  <br>
  <p class="col-md-12 col-md-offset-1">
    {% if result != None %}
        {{ result }}
    {% endif %}
  </p>
</div>

      
{% endblock %}